.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a:not(.btn) {
  color: #999;
}
a:not(.btn):hover {
  color: #aa824a;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #4d4d4d !important;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #aa824a !important;
}
.color {
  color: #aa824a;
  text-shadow: -1px 1px #aa824a;
}
body {
  color: #333333;
}
#sp-header-wrapper {
  background-color: #ffffff;
}
#sp-header-wrapper .logo {
  background-image: url(../../images/presets/preset3/logo.png);
}
#sp-header-wrapper .search .button {
  background: #aa824a;
}
#sp-header-wrapper .search .button:hover {
  background: #987442;
}
#sp-menu-wrapper {
  background-color: #ffffff;
}
.breadcrumb .active i:before {
  color: #aa824a;
}
.breadcrumb .pathway {
  color: #aa824a;
}
.breadcrumb .pathway:hover {
  color: #be9b69;
}
#sp-main-menu ul.level-0 > li:hover:after,
#sp-main-menu ul.level-0 > li.active:after {
  background: #aa824a;
}
#sp-main-menu ul.level-0 > li:hover > a,
#sp-main-menu ul.level-0 > li.active > a {
  color: #aa824a;
}
#sp-main-menu a.active .menu-title {
  color: #aa824a;
}
#sp-main-menu ul >li:hover > a {
  color: #aa824a;
}
#sp-main-menu li li:not(.sp-menu-group) {
  border-top: 1px solid #aa824a;
}
#sp-main-menu div.sp-menu-group .sp-menu-group-title {
  border-bottom: 1px solid #aa824a;
}
#menu-user a:hover {
  color: #aa824a;
}
#sp-feature-wrapper a:not(.btn) {
  color: #cdb28d;
}
#sp-feature-wrapper a:not(.btn):hover {
  color: #ece2d4;
}
.tcvn_wowslider #tcvn_wowslider142 a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.tcvn_wowslider #tcvn_wowslider142 a.ws_prev {
  background: url("../../images/presets/preset3/arrows.png") no-repeat;
}
.tcvn_wowslider #tcvn_wowslider142 a.ws_next {
  background: url("../../images/presets/preset3/arrows.png") no-repeat -45px 0;
}
.module.highlighted {
  background: #86673b;
}
.module.highlighted a:not(.btn) {
  color: #be9b69;
}
.module.highlighted a:not(.btn):hover {
  color: #634c2b;
}
.module.k2_scroller .morebutton {
  color: #aa824a;
}
.module.k2_scroller .morebutton:after {
  background: url("../../images/presets/preset3/icon-reamore.png") no-repeat right 2px;
}
.tcvn-title span {
  color: #aa824a;
}
#sp-bottom-wrapper,
#sp-footer-wrapper {
  background: #3f301c;
  color: #fff;
}
#sp-bottom-wrapper h3,
#sp-footer-wrapper h3 {
  color: #fff;
}
#sp-bottom-wrapper p,
#sp-footer-wrapper p {
  color: #bfbfbf;
}
#sp-bottom-wrapper a,
#sp-footer-wrapper a {
  color: #bfbfbf;
}
#sp-bottom-wrapper a:hover,
#sp-footer-wrapper a:hover {
  color: #aa824a;
}
#sp-bottom-wrapper ul.nav li a:hover,
#sp-footer-wrapper ul.nav li a:hover {
  color: #aa824a;
}
#form_new .btn {
  background: #aa824a;
}
#form_new .btn:hover,
#form_new .btn :focus {
  background: #aa824a;
}
.page-header a {
  color: #aa824a;
}
.progress-striped .bar {
  background-color: #aa824a;
}
#vina_about_us .carousel .item .incon_bg {
  background: #aa824a;
}
#vina_about_us .carousel .carousel-control {
  color: #aa824a;
}
#vina_about_us .carousel:hover .carousel-control:hover {
  background: #aa824a;
}
#vina_about_us .skill ul li {
  border-left: 2px solid #aa824a;
}
#vina_company .img-polaroid .info_team ul li a:hover {
  background: #aa824a;
}
#vina_pricing_table .pricing_table .thumbnail button {
  background: #aa824a;
}
#vina_contact_us .contact_us .qlform .control-group .controls {
  width: 100%;
  display: block;
  margin: 0;
}
#vina_contact_us .contact_us .qlform .control-group .controls input[type="submit"]:hover {
  color: #fff;
}
#vina_contact_us .contact_us .qlform .control-group .controls input[type="submit"]:focus {
  background: #000;
}
#vina_contact_us ul.social li a {
  border: 4px solid #ddcab0;
  background: #aa824a;
}
#vina_contact_us ul.social li a:hover {
  border: 4px solid #aa824a;
}
#vina_contact_us ul.social li a:hover em {
  color: #aa824a;
}
#vina_contact_us .map span em {
  color: #aa824a;
}
.btn-primary,
button,
input[type='submit'],
input[type='button'],
submit {
  background: #aa824a;
  color: #fff;
}
.btn-primary:after,
button:after,
input[type='submit']:after,
input[type='button']:after,
submit:after {
  background: #000;
}
.btn-primary:hover,
.btn-primary:focus,
button:hover,
button:focus,
input[type='submit']:hover,
input[type='submit']:focus,
input[type='button']:hover,
input[type='button']:focus,
submit:hover,
submit:focus {
  color: #aa824a;
  background-color: #aa824a;
}
table.calendar a {
  color: #aa824a;
}
.tcvn-scroller-k2 .toolbar .left:hover:before,
.tcvn-scroller-k2 .toolbar .right:hover:before {
  color: #aa824a;
}
.modhdg2 {
  background-color: #aa824a;
}
.modhdg3 {
  border-left: 4px solid #aa824a;
}
#k2Container.itemView .itemCategory {
  background: #aa824a;
}
#k2Container.itemView #submitCommentButton {
  background: #aa824a;
}
#k2Container.itemView div.itemBackToTop a:before {
  color: #aa824a;
}
#k2Container.userView .userItemCategory {
  background: #aa824a;
}
#k2Container.tagView .tagItemCategory {
  background: #aa824a;
}
table.calendar tr td.calendarToday {
  background: #aa824a;
}
table.calendar tr td.calendarDateLinked a:hover {
  background: #aa824a;
}
.vina_latest i:before {
  color: #aa824a;
  background-color: #fff;
}
.vina_latest li {
  border-bottom: 1px dotted #aa824a;
}
.vina_latest li.lastItem {
  border-bottom: 0;
}
.vina_latest li.even {
  padding-top: 0;
}
.pagination-active a {
  color: #aa824a;
}
.vina_categories li:before {
  color: #aa824a;
  background-color: #fff;
}
.vina_categories .activeCategory a {
  color: #aa824a;
}
li > .icon-chevron-sign-right:before,
li .icon-calendar:before {
  color: #aa824a;
}
